.page {
  --cyan-400: hsl(178deg 100% 50%);
  --blue-500: hsl(215deg 51% 70%);
  --blue-950: hsl(217deg 54% 11%);
  --blue-900: hsl(216deg 50% 16%);
  --blue-800: hsl(215deg 32% 27%);

  min-height: 100dvh;

  display: grid;
  place-items: center;

  background: var(--blue-950);
  color: var(--blue-500);

  font-family: 'Outfit', var(--font-sans-serif);
  font-weight: 300;
  line-height: 1.25;
}

.card {
  max-width: 350px;
  padding: var(--spacing-300);

  display: grid;
  gap: var(--spacing-300);

  background: var(--blue-900);
  border-radius: 15px;
  box-shadow: 0 25px 50px 0 hsl(0deg 0% 0% / 9.53%);

  & a {
    text-decoration: none;
    color: var(--white);

    transition: color 150ms ease;

    &:hover,
    &:focus-visible {
      color: var(--cyan-400);
    }
  }
}

.imageLink {
  position: relative;

  &:hover .imageOverlay,
  &:focus-visible .imageOverlay {
    opacity: 1;
  }
}

.image {
  border-radius: 8px;
}

.imageOverlay {
  position: absolute;
  inset: 0;

  display: grid;
  place-items: center;

  background: hsl(178deg 100% 50% / 0.5);
  border-radius: 8px;
  opacity: 0;

  transition: opacity 150ms ease;
}

.content {
  display: grid;
  gap: var(--spacing-200);
}

.title {
  color: var(--white);
  font-size: 1.375rem;
  font-weight: 600;
}

.description {
  font-size: 1.125rem;
  line-height: 1.45;
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & span {
    display: flex;
    align-items: center;
    gap: var(--spacing-100);
  }
}

.price {
  color: var(--cyan-400);
  font-weight: 600;
}

.time {
  & img {
    width: 16px;
  }
}

.divider {
  height: 1px;
  background: var(--blue-800);
  border: 0;
}

.creator {
  display: flex;
  align-items: center;
  gap: var(--spacing-200);
}

.avatar {
  width: 33px;
  border: 1px solid var(--white);
  border-radius: 50%;
}

.name {
  margin-inline-start: var(--spacing-100);
}
