.page {
  --navy-950: hsl(224deg 30% 27%);
  --navy-200: hsl(241deg 100% 89%);
  --navy-50: hsl(221deg 100% 96%);

  --blue-800: hsl(234deg 85% 45%);
  --blue-50: hsl(234deg 71% 97%);

  --yellow-400: hsl(39deg 100% 56%);
  --yellow-50: hsl(38deg 100% 98%);

  --red-400: hsl(0deg 100% 67%);
  --red-50: hsl(0deg 100% 98%);

  --green-500: hsl(166deg 100% 37%);
  --green-50: hsl(162deg 63% 97%);

  --gradient-1: linear-gradient(hsl(256deg 71% 46%), hsla(241deg 72% 46% / 0));
  --gradient-2: linear-gradient(hsl(252deg 100% 67%), hsl(241deg 81% 54%));

  --fw-m: 500;
  --fw-b: 700;
  --fw-xb: 800;

  display: grid;
  place-content: center;
  font-family: 'Hanken Grotesk', var(--font-sans-serif);
  line-height: 1.3;
  font-weight: var(--fw-m);

  background: var(--blue-50);

  @media (min-width: 48rem) {
    place-content: center;
    padding: var(--spacing-500);
    min-height: 100dvh;
    font-size: 1.125rem;
  }
}

.card {
  background: var(--white);
  color: var(--navy-200);
  width: min(46rem, 100vw);

  display: grid;
  box-shadow: 0 30px 60px hsl(224deg 82% 58% / 0.15);

  & h1,
  & h2 {
    font-size: 1.125rem;
    font-weight: var(--fw-b);

    @media (min-width: 48rem) {
      font-size: 1.5rem;
    }
  }

  @media (min-width: 48rem) {
    grid-template-columns: 1fr 1fr;
    border-radius: 32px;
  }
}

.result,
.summary {
  padding: var(--spacing-400);
  gap: var(--spacing-300);

  @media (min-width: 48rem) {
    padding: var(--spacing-500);
    gap: var(--spacing-400);
  }
}

.result {
  background-image: var(--gradient-2);
  text-align: center;
  border-radius: 0 0 32px 32px;
  display: grid;
  gap: var(--spacing-300);
  justify-items: center;
  align-content: start;

  @media (min-width: 48rem) {
    border-radius: 32px;
  }
}

.resultScore {
  width: 140px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-image: var(--gradient-1);
  display: grid;
  place-content: center;

  @media (min-width: 48rem) {
    width: 200px;
  }
}

.averageScore {
  color: var(--white);
  font-weight: var(--fw-xb);
  font-size: 3.5rem;
  line-height: 1;
}

.description {
  display: grid;
  gap: var(--spacing-100);
  max-width: 260px;

  @media (min-width: 48rem) {
    gap: var(--spacing-200);
  }
}

.description strong {
  font-size: 1.5rem;
  font-weight: var(--fw-b);
  color: var(--white);

  @media (min-width: 48rem) {
    font-size: 2rem;
  }
}

.summary {
  margin-block-start: -8px;
  display: grid;

  & h2 {
    color: var(--navy-950);
  }

  & ul {
    padding: 0;
    list-style: none;

    display: grid;
    gap: var(--spacing-200);

    & li {
      display: flex;
      height: 3.5rem;
      padding-inline: var(--spacing-200);
      align-items: center;
      justify-content: space-between;
      border-radius: 12px;
    }
  }

  & button {
    background: var(--navy-950);
    color: var(--white);
    font-size: 1.125rem;
    font-weight: var(--fw-b);
    border-radius: 128px;
    border: none;
    height: 3.5rem;

    &:hover,
    &:focus-visible {
      background: var(--gradient-2);
    }
  }

  @media (min-width: 48rem) {
    margin-block-start: revert;
  }
}

.label {
  display: flex;
  gap: var(--spacing-200);
}

.score {
  display: flex;
  gap: var(--spacing-100);
  color: var(--navy-950);
  font-weight: var(--fw-b);
}

.totalScore {
  opacity: 0.5;
}

.red {
  background: var(--red-50);
  color: var(--red-400);
}

.yellow {
  background: var(--yellow-50);
  color: var(--yellow-400);
}

.green {
  background: var(--green-50);
  color: var(--green-500);
}

.blue {
  background: var(--blue-50);
  color: var(--blue-800);
}
