.page {
  --navy-950: hsl(224deg 30% 27%);
  --navy-200: hsl(241deg 100% 89%);
  --navy-50: hsl(221deg 100% 96%);

  --blue-800: hsl(234deg 85% 45%);
  --blue-50: hsl(234deg 71% 97%);

  --yellow-400: hsl(39deg 100% 56%);
  --yellow-50: hsl(38deg 100% 98%);

  --red-400: hsl(0deg 100% 67%);
  --red-50: hsl(0deg 100% 98%);

  --green-500: hsl(166deg 100% 37%);
  --green-50: hsl(162deg 63% 97%);

  --score-gradient: linear-gradient(
    hsl(256deg 71% 46%),
    hsla(241deg 72% 46% / 0)
  );
  --result-gradient: linear-gradient(hsl(252deg 100% 67%), hsl(241deg 81% 54%));

  --fw-m: 500;
  --fw-b: 700;
  --fw-xb: 800;

  font-family: 'Hanken Grotesk', var(--font-sans-serif);
  line-height: 1.3;
  font-weight: var(--fw-m);
  background: var(--blue-50);

  @media (min-width: 48rem) {
    display: grid;
    place-content: center;
    min-height: 100dvh;
    font-size: 1.125rem;
  }
}

.card {
  display: grid;
  width: min(48rem, 100%);
  background: var(--white);
  color: var(--navy-200);

  & h1,
  & h2 {
    font-size: 1.125rem;
    font-weight: var(--fw-b);
  }

  @media (min-width: 48rem) {
    grid-template-columns: 1fr 1fr;
    border-radius: 32px;
    box-shadow: 0 30px 60px hsl(224deg 82% 58% / 0.15);

    & h1,
    & h2 {
      font-size: 1.5rem;
    }
  }
}

.result,
.summary {
  display: grid;
  padding: var(--spacing-400);
  gap: var(--spacing-300);

  @media (min-width: 48rem) {
    padding: var(--spacing-500);
    gap: var(--spacing-400);
  }
}

.result {
  justify-items: center;
  align-content: start;

  text-align: center;
  background: var(--result-gradient);
  border-radius: 0 0 32px 32px;

  @media (min-width: 48rem) {
    border-radius: 32px;
  }
}

.resultScore {
  display: grid;
  place-content: center;

  width: 140px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: var(--score-gradient);

  @media (min-width: 48rem) {
    width: 200px;
  }
}

.averageScore {
  color: var(--white);
  font-size: 3.5rem;
  font-weight: var(--fw-xb);
  line-height: 1;
}

.description {
  display: grid;
  gap: var(--spacing-100);
  max-width: 260px;

  & strong {
    color: var(--white);
    font-size: 1.5rem;
    font-weight: var(--fw-b);
  }

  @media (min-width: 48rem) {
    gap: var(--spacing-200);

    & strong {
      font-size: 2rem;
    }
  }
}

.summary {
  margin-block-start: -8px;

  & h2 {
    color: var(--navy-950);
  }

  & button {
    position: relative;
    isolation: isolate;
    overflow: hidden;

    min-height: 3.5rem;
    border: none;
    border-radius: 128px;

    background: var(--navy-950);
    color: var(--white);
    font-size: 1.125rem;
    font-weight: var(--fw-b);

    cursor: pointer;
    transition: background-color 1500ms ease;

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      z-index: -1;

      background: var(--result-gradient);
      opacity: 0;

      transition: opacity 200ms ease;
    }

    &:hover::before,
    &:focus-visible::before {
      opacity: 1;
    }

    &:hover,
    &:focus-visible {
      transform: translateY(-1px);
    }
  }

  @media (min-width: 48rem) {
    margin-block-start: 0;
  }
}

.summaryList {
  display: grid;
  gap: var(--spacing-200);

  padding: 0;
  list-style: none;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  min-height: 3.5rem;
  padding-inline: var(--spacing-200);
  border-radius: 12px;
}

.label {
  display: flex;
  gap: var(--spacing-200);
}

.score {
  display: flex;
  gap: var(--spacing-100);
  color: var(--navy-950);
  font-weight: var(--fw-b);
}

.totalScore {
  opacity: 0.5;
}

.red {
  background: var(--red-50);
  color: var(--red-400);
}

.yellow {
  background: var(--yellow-50);
  color: var(--yellow-400);
}

.green {
  background: var(--green-50);
  color: var(--green-500);
}

.blue {
  background: var(--blue-50);
  color: var(--blue-800);
}
