.page {
  --white: hsl(0deg 0% 100%);
  --slate-300: hsl(212deg 45% 89%);
  --slate-500: hsl(216deg 15% 48%);
  --slate-900: hsl(218deg 44% 22%);

  --spacing-200: 16px;
  --spacing-300: 24px;
  --spacing-500: 40px;

  min-height: 100dvh;
  padding: var(--spacing-200);

  display: grid;
  place-items: center;

  background: var(--slate-300);

  font-family: 'Outfit', var(--font-sans-serif);
  text-align: center;
}

.card {
  width: min(20rem, calc(100vw - 2 * var(--spacing-200)));
  padding: var(--spacing-200);
  padding-block-end: var(--spacing-500);

  display: grid;
  gap: var(--spacing-300);

  background: var(--white);
  border-radius: 20px;
  box-shadow: 0px 25px 25px 0px rgb(0 0 0 / 5%);
}

.image {
  border-radius: 10px;
}

.content {
  padding-inline: var(--spacing-200);

  display: grid;
  gap: var(--spacing-200);
}

.title {
  color: var(--slate-900);
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 1.2;
}

.description {
  color: var(--slate-500);
  font-size: 0.9375rem;
  line-height: 1.4;
  letter-spacing: 0.2px;
}
